/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: #222;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 48px;
}

p {
    font-size: 18px;
}

.foto-parrafo {
    display: flex;
    margin: 0 400px;
}

.imagen-asier {
    padding-right: 90px;
}

.conocimientos {
    margin: 50px;
    width: 300px;
}

.conocimientos img {
    width: 60%;
    border-radius: 8px;
}

.conocimientos p {
    display: inline-block;
    background-color: rgba(210, 215, 211, 0.6);
    opacity: 0.6;
    padding: 10px;
    border-radius: 10px;
}

.conocimientos-gallery {
    display: flex;
    justify-content: center;
}

#projects, #sobre-mi {
    padding: 50px;
    text-align: center;
}

.project-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    margin: 20px;
    width: 300px;
}

.project img {
    width: 100%;
    border-radius: 8px;
}

.project h3 {
    margin: 10px 0;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
