:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #E1E1E1;
    --blanco: #FFF;
    --negro: #000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

/** Globales **/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.sombra {
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.8rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
    line-height: 1.4;
}
img {
    max-width: 100%;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/** Header **/
.header {
    background-image: url(../img/IMG_20190922_075507.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 2rem;
}
.header__texto {
    text-align: center;
    color: var(--blanco);
    background-color: rgb(0 0 0 / 40%);
    height: 100%;
    margin-top: 2rem;
}
@media (min-width: 769px) {
    .header__texto {
        margin-top: 0rem;
    }
}

@media (min-width: 769px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media (min-width: 769px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--negro);
    transition: color .2s ease;
}
.navegacion__enlace:hover {
    color: var(--primario);
}
.logo {
    color: var(--negro);
}
.logo__nombre {
    font-weight: 700;
}

@media (min-width: 769px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}
.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}
.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    transition: all .3s ease;
}
@media (min-width: 769px) {
    .boton {
        display: inline-block;
    }
}
.boton--primario {
    background-color: var(--negro);
}
.boton:hover {
    background-color: var(--primario);
    font-size: 2rem;
}
.ultimas-entradas {
    display: block;
    color: var(--negro);
    border-bottom: 1px solid var(--gris);
    margin-bottom: 1rem;
    transition: color .2s ease;
}
.ultimas-entradas:hover {
    color: var(--primario);
}
.ultimas-entradas:last-of-type {
    border: none;
    margin-bottom: 0;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: var(--gris);
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}
.footer {
    background-color: var(--negro);
    color: var(--blanco);
}
.logo2 {
    color: var(--blanco);
}
.navegacion__enlace2 {
    color: var(--blanco);
}